body {
	font-weight: 400;
	font-family: "Lato", sans-serif;
	line-height: 24px;
	font-size: 14px;
	color: #4a6385;
}
a {
	color: #000;
	text-decoration: none;
	display: inline-block;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
h1 {
	margin: 0;
}
